#liste-artistes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .artiste {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    .artiste-image {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease;
    }
    .artiste-caption {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 4;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transform: scale(.2);
      -ms-transform: scale(.2);
      transform: scale(.2);
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      text-transform: uppercase;
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease;
    }
    &:hover {
      .artiste-image {
        transform: scale(1.25);
        -ms-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -webkit-transform: scale(1.25);
      }
      .artiste-caption {
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
      }
    }
    h3 {
      font-size: 1.25em;
      color: #01868b;
      letter-spacing: 1px;
      margin: 0;
      margin-bottom: 10px;
      font-weight: bold;
    }
    p {
      margin: 0;
      margin-bottom: 15px;
      font-size: 9px;
      letter-spacing: 0.1em;
    }
    .btn-primary {
      background-color: #01868b;
      border-color: #01868b;
    }
    .btn {
      width: 60%;
      margin-bottom: 15px;
      outline: none;
    }
  }
}
#add-box {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all .4s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  i.fa {
    font-size: 40px;
    opacity: 0.5;
  }
}

#modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  &>div {
    position: relative;
    width: 350px;
    background-color: #01868b;
    box-shadow: 3px 3px 20px #333;
    padding: 40px;
    border-radius: 8px;
    &>.close {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 0 8px 0 8px;
      background-color: rgba(0, 0, 0, 0.2);
      i.fa {
        line-height: 40px;
      }
    }
    h1 {
      text-align: center;
      color: #fff;
      margin-bottom: 30px;
    }
    input,
    textarea {
      margin-bottom: 20px;
      width: 100%;
      text-align: left;
      overflow-x: hidden;
      white-space: pre-wrap;
    }
    textarea {
      height: 100px;
      resize: none;
    }
    button {
      width: 70%;
      margin: auto;
      display: block;
      background-color: #e9ecef;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      cursor: pointer;
    }
  }
}

@media all and (max-width: 800px) {
  #liste-artistes {
    .artiste {
      width: 33.3333333%;
    }
  }
}

@media all and (max-width: 600px) {
  #liste-artistes {
    .artiste {
      width: 50%;
    }
  }
}

@media all and (max-width: 420px) {
  #liste-artistes {
    .artiste {
      width: 100%;
    }
  }
}