<div id="admin-page" [ngSwitch]="option">

  <div id="options">
    <a (click)="setOption(1)" [class.active]="option == 1">Artistes</a>
    <a (click)="setOption(2)" [class.active]="option == 2">Affiche</a>
    <a (click)="setOption(3)" [class.active]="option == 3">Vidéo</a>
  </div>

  <div id="liste-artistes" *ngSwitchCase="1">
    <div class="artiste" (mouseenter)="onMouseEnterArtiste($event)" (mouseleave)="onMouseLeaveArtiste($event)" *ngFor="let a of artistes">
      <div class="artiste-image" [style.backgroundImage]="'url('+ a.photo +')'"></div>
      <div class="artiste-caption">
        <h3 class="nom">{{ a.nom }}</h3>
        <p class="style">{{ a.styleMusical }}</p>
        <button class="btn btn-primary" (click)="toggleModal(a.id, 'update')">Modifier</button>
        <button class="btn btn-danger" (click)="deleteArtiste(a.id)">Supprimer</button>
      </div>
    </div>
    <div id="add-box" class="artiste" (click)="toggleModal(-1, 'add')">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <div id="update-affiche" *ngSwitchCase="2">
    <div>
      <img src="{{ afficheUrl }}" alt="Affiche">
    </div>
    <div>
      <form action="{{ formUrl }}" method="POST" enctype="multipart/form-data" target="_blank" (submit)="onAfficheSubmit($event)">
        <h1>Modifier l'affiche</h1>
        <input name="file" type="file">
        <input type="submit" value="Modifier">
      </form>
    </div>
  </div>

  <div id="update-video" *ngSwitchCase="3">
    <div>
      <app-video src="{{ videoUrl }}"></app-video>
    </div>
    <div>
      <form action="{{ formUrl }}" method="POST" enctype="multipart/form-data" target="_blank" (submit)="onVideoSubmit($event)">
        <h1>Modifier la vidéo</h1>
        <input name="file" type="file">
        <input type="submit" value="Modifier">
      </form>
    </div>
  </div>
</div>


<div id="modal" *ngIf="showModal">
  <div>
    <div class="close" (click)="toggleModal(-1, '')">
      <i class="fa fa-times"></i>
    </div>
    <h1>{{ action == 'add' ? 'Ajouter un artiste' : 'Modifier un artiste' }}</h1>
    <input class="input-group-text" type="text" placeholder="Nom" #nom />
    <input class="input-group-text" type="text" placeholder="Style musical" #style />
    <textarea class="input-group-text" type="text" placeholder="Description" #description></textarea>
    <input class="input-group-text" type="text" placeholder="URL photo" #photo />
    <input class="input-group-text" type="text" placeholder="Lien facebook / site web / ..." #lien />
    <button type="submit" (click)="action == 'add' ? ajouterArtiste(nom.value, style.value, description.value, photo.value, lien.value) : modifierArtiste(nom.value, style.value, description.value, photo.value, lien.value)">Valider</button>
  </div>
</div>