<div id="header">
  <div id="menu">
    <a [ngx-scroll-to]="'#header'" title="Accueil">ACCUEIL</a>
    <a [ngx-scroll-to]="'#artistes'" title="Artistes">ARTISTES</a>
    <a [ngx-scroll-to]="'#infos'" title="Infos pratiques">INFOS PRATIQUES</a>
    <a href="#" title="Partenaires">PARTENAIRES</a>
  </div>
</div>
<div id="fb-video">
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Flesaiguilleurs%2Fvideos%2F1983169441918671%2F&show_text=false&width=560&mute=false"
    width="560" height="420" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>
<section id="artistes">
  <h1>ARTISTES</h1>
  <div class="separator">
    <span>
      <i class="fa fa-circle"></i>
    </span>
  </div>
  <div class="portfolio" *ngIf="artisteFocused" [@slideDown]="artisteFocused">
    <div class="img-container" [style.backgroundImage]="'url('+ artisteFocused.photo +')'"></div>
    <div class="description">
      <perfect-scrollbar>
        <h2>{{ artisteFocused.nom }}</h2>
        <hr>
        <p>{{ artisteFocused.description }}<br /><a href="{{ artisteFocused.lien }}">{{ artisteFocused.lien }}</a></p>
      </perfect-scrollbar>
    </div>
  </div>
  <div id="liste-artistes">
    <div class="artiste" (click)="selectArtiste(a)" (mouseenter)="onMouseEnterArtiste($event)" (mouseleave)="onMouseLeaveArtiste($event)" *ngFor="let a of artistes">
      <div class="artiste-image" [style.backgroundImage]="'url('+ a.photo +')'"></div>
      <div class="artiste-caption">
        <h3 class="nom">{{ a.nom }}</h3>
        <p class="style">{{ a.styleMusical }}</p>
      </div>
    </div>
    <p class="error" *ngIf="connectionError"><i class="fa fa-exclamation-triangle"></i><br />Veuillez vérifier votre connexion internet.</p>
  </div>
</section>

<section id="infos">
  <h1>INFOS <span>PRATIQUES</span></h1>
  <p>GRATUIT <span class="blue">//</span> Dès 16h</p>
  <p>RESTAURATION SUR PLACE</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.73057163214!2d2.2162744278962374!3d48.82520193820314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67b0f14192369%3A0xe7475a213ac2e2a7!2sSquare+Carrier+Belleuse%2C+92310+S%C3%A8vres!5e0!3m2!1sfr!2sfr!4v1494573306210" width="600" height="220" frameborder="0" style="border:0" allowfullscreen=""></iframe>
  <p>Square Carrier Belleuse, 92310 Sèvres</p>
  <p>Métro Ligne 9 : Pont de Sèvres<br />Tramway T2 : Musée de sèvres<br />Bus 171, 426, 179, 169<br/>Voiture : N118, D910, RD7</p>
  <p class="contact">CONTACT : <a href="mailto:infos@lesaiguilleurs.fr">INFOS@LESAIGUILLEURS.FR</a></p>

  <div class="separator">
    <span>
      <i class="fa fa-circle"></i>
    </span>
  </div>

  <p>Le Festival Les Aiguilleurs est organisé par l'association SUM et la ville de Sèvres.</p>

  <a href="http://www.sum-asso.com" class="more">EN SAVOIR PLUS</a>
</section>