input{
    margin-top: 10px;
    margin-left: 10px;
}

button{
    margin: 10px;
}

#connexion-form{
    background-color: #01868b;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}